# --- Jupyter Notebook Specific ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*
# Prevent checking in notebook output/state (optional but recommended)
*.ipynb_checkpoints

# --- Python General ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Environments & Dependencies ---
.venv/
venv/
env/
ENV/
bin/
lib/
include/
share/
pyvenv.cfg
pip-log.txt
pip-delete-this-directory.txt

# --- Distribution / Packaging ---
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Editor / IDE Specific ---
.vscode/
.idea/
*.swp
*.swo

# -- Local folders
.DS_Store (Mac specific)
/01_docs/
/02_code/matlab/
/02_code/r/
/02_code/matlab_shannon/
/03_data/
